{% extends "base.html.twig" %}

{% block content %}
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Fixed Header Table</h3>

                <div class="card-tools">
                    <a href="{{ path('movie_create') }}" class="btn btn-primary">Create</a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="/* height: 300px; */">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in movies %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{ movie.name }}</td>
                            <td>
                                <a href="{{ path('movie_update', {'id': movie.id}) }}">Update</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
{% endblock content %}
